.cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 15px;
  @include mobile {
    grid-template-columns: 1fr;
  }
}

.loader-content {
  display: grid;
}
.loader-preview {
  justify-self: center;
  min-height: 10vh;
  margin-top: 2vh;
}
